<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>프로필 카드 1</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<!-- 폰트어썸 내꺼 집어넣기 -->
	<script src="https://kit.fontawesome.com/236e2e0d20.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css">
	<script defer src="js/ie.js"></script>
</head>
<body class="dongjin">
	<section>
		<!-- nav= 다른 페이지로 나가거나 현재 페이지에서 
		다른 부분을 연결해주는 것들의 집합 -->
		<nav class="menu">
			<!-- i 태그로 아이콘 가져오기 -->
			<a href="#"><i class="fas fa-bars"></i></a>
			<a href="#"><i class="fas fa-sticky-note"></i></a>
		</nav>

		<!-- 프로필 사진 널기 -->
		<article class="profile">
			<img src="./img/KakaoTalk_20230717_170717036_02.jpg" alt="프로필 이미지">

			<!-- 프로필 정보 추가 -->
			<h1>5조 팀장</h1>
			<h2>머신러닝, 딥러닝 개발 및 테스트</h2>

			<!-- 더보기 버튼 추가 -->
			<a href="#" class="btnView">VIEW MORE</a>
		</article>

		<!-- 프로필 버튼 아래에 들어갈 몇몇 주소들 -->
		<ul class="contact">
			<li>
				<i class="fab fab fa-github"></i>
				<a href="https://github.com/InPyuKimDongJin">Visit My Github page.</a>
			</li>
			<li>
				<!-- <i class="far fa-envelope"></i> -->
				<i class="fab fa-instagram"></i>
				<a href="https://www.instagram.com/inpyu/">Visit My instagram</a>
			</li>
		</ul>

		<!-- 멤버별 아이콘 -->
		<!-- 현재 1번 멤버의 사이트이기 때문에 현재 들어간 사이트는 버튼만 활성화 -->
		<nav class="others">
			<a href="dongjin.html" class="on"></a>
			<a href="sunmin.html" ></a>
			<a href="hyungook.html"></a>
		 </nav>
	</section>
</body>
</html>